<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<div class="container my-3">
  <h1 class="text-center py-2">Login to your account</h1>
  <div class="row justify-content-center">
    <% if(error) { %>
      <p class="bg-danger text-white border-info p-2 font-weight-bold"><%= error %></p>
    <% } %>
  </div>
  <div class="row justify-content-center">
    <div class="card align-self-center w-30 p-3 border-secondary bg-light">
      <form action="/auth/login/succeeded" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">    
        <div class="form-group">
          <label class="font-weight-bold" for="user">Username/Email</label>
          <input type="text" class="border-dark form-control" name="user" id="user" placeholder="Enter your username/email here" required>
        </div>              
        <div class="form-group">
          <label class="font-weight-bold" for="password">Password</label>
          <input type="password" class="border-dark form-control" name="password" id="password" required>
        </div>        
        <div class="form-group">
          <button class="btn btn-success" type="submit">Login</button>
          <button class="btn btn-danger mx-3" type="reset">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>