<%- include('./partials/header') %>
<%- include('./partials/nav') %>
<div class="container my-3">
  <h1>Gallery</h1>
  <% if(isAuthenticated) { %>
    <div class="row p-3 d-flex justify-content-center">
      <a href="/gallery/upload" class="btn btn-info h5 font-weight-bold text-uppercase">add your image</a>
    </div>   
  <% } %>
  <% if(images.length === 0) { %>
    <p class="text-danger text-center font-weight-bold">Sorry, there are no images uploaded by anyone, yet!</p>
  <% } %>
  <div class="row p-3">
     <div class="card-deck">
       <% for(image of images) { %>
        <div class="card">
          <img src="<%= image.path %>" alt="<%= image.title %>" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= image.title %></h5>
            <p class="card-text"><%= image.description %></p>
            <p class="card-text"><small class="text-muted">By <%= image.createdBy.name.first %>&nbsp;<%= image.createdBy.name.last %></small></p>
            <a href="/gallery/<%= image._id %>" class="btn btn-info">Details</a>
          </div>
        </div>
       <% } %>
     </div>
  </div>

</div>
<%- include('./partials/footer') %>