<%- include('./partials/header') %>
<%- include('./partials/nav') %>
<% if(images.length === 0) { %>
  <div class="m-0 p-3 alert alert-danger border-top-0 border-left-0 border-right-0 rounded-0 border-danger text-center font-weight-bold" role="alert">
    Sorry, there are no images uploaded by any members, yet!
  </div>
<% } %>
<div class="container my-3"> 
  <% if (isAuthenticated) { %>
    <div class="row d-flex justify-content-center align-items-center my-3">
      <a href="/gallery/upload" class="btn btn-info font-weight-bold text-uppercase">add your image</a>
    </div>
    <% } %>
  <% if(images.length === 0) { %>
      <div class="row d-flex justify-content-center">
        <img src="/img/pale-list-is-empty.png" height="400" alt="Illustration of an empty frame">
      </div>    
  <% } %>
  <div class="row p-3">
     <div class="card-deck">
       <% for(image of images) { %>
        <div class="card <%= isAuthenticated && image.createdBy.username === user.username ? 'bg-light border-1 border-dark' : '' %>" style="width: 18.0rem">
          <img src="<%= image.path %>" alt="<%= image.title %>" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-center"><%= image.title %></h5>
            <% if(isAuthenticated && image.createdBy._id.toString() === user._id.toString()) { %>
              <p class="card-text text-center""><small class="text-muted">You uploaded this image on <%= image.createdAt.toLocaleDateString('en-IN', {day: 'numeric', month: 'short', year: 'numeric'})%></small></p>
        <!-- No user login detected -->
            <% } else { %>
              <p class="card-text text-center""><small class="text-muted">By <a href="/users/<%=image.createdBy.username%>" target="_blank"><%= image.createdBy.name.first %>&nbsp;<%= image.createdBy.name.last %></a> on <%= image.createdAt.toLocaleDateString('en-IN', {day: 'numeric', month: 'short', year: 'numeric'})%></p>
            <% }%> 
            <div class="div d-flex justify-content-center col row">
              <a href="/gallery/<%= image._id %>" class="text-center btn btn-info">Details</a>
              <% if(isAuthenticated && image.createdBy._id.toString() === user._id.toString())  { %>
                <!-- Delete confirmation modal button -->
                <button class="btn btn-danger ml-3" data-toggle="modal" data-target="#deleteimage">Delete</button>
                <!-- Delete confirmation modal display -->
                <div class="modal fade" id="deleteimage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content border-1 border-danger">
                      <div class="modal-header bg-danger text-white">
                        <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">Are you sure you want to delete?</h5>
                        <button type="button" class="close text-white font-weight-bold" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <span class="font-weight-bold">Deleting an image is a permanent process</span>.&nbsp;Once an image is deleted from the website, it is no longer accessible by anyone, including you, the author.&nbsp;In addition to it, all critiques added by other users will also be deleted.<br><br><span class="font-weight-bold">Deleted images cannot be restored manually in any circumstances</span>.<br><br>Keeping this mind, please confirm if you wish to proceed with deleting the image.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-warning font-weight-bold" data-dismiss="modal">Go back</button>
                        <form action="/gallery/<%= image.id %>" method="POST">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <button id="btn_delete" type="submit" class="btn btn-danger ml-2 font-weight-bold">Confirm deletion</button>
                        </form>    
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
            </div>
          </div>
        </div>
       <% } %>
     </div>
  </div>
</div>
<script>
</script>
<%- include('./partials/footer') %>