<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<div class="container my-3 py-3">
  <div class="row my-3">
    <!-- Sidebar -->
    <div class="col col-lg-3">
    </div>
    <!-- Main -->
    <div class="col col-lg-9">
      <div class="row">
        <div class="col text-center mb-3">
          <h3 class="font-weight-bold">Complete your profile</h3class>
          <h5 class="my-3">Add information about yourself</h5>
        </div>
      </div>         
      <!-- Form -->
      <div class="card p-5 bg-light">
        <div class="row">
          <h4 class="font-weight-bold text-capitalize">personal information</h4>
        </div>
        <!-- Actual form -->
        <div class="row my-4 ">
          <form action="/users/<%= user.username %>/profile" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <!-- Username -->
            <div class="form-group my-3">
              <label for="username" class="font-weight-bold text-capitalize">username</label>
              <input type="text" name="username" id="username" class="form-control" value="<%= user.username %>" disabled>
            </div>
            <!-- First and last name -->
            <div class="form-group my-2 py-2">
              <div class="row">
                <div class="col">
                  <label for="firstname" class="font-weight-bold text-capitalize">first name</label>
                  <input type="text" name="firstname" id="firstname" class="form-control" required>
                </div>
                <div class="col">
                  <label for="lastname" class="font-weight-bold text-capitalize">last name</label>
                  <input type="text" name="lastname" id="lastname" class="form-control">
                </div>
              </div>
            </div>
            <!-- Website -->
            <div class="form-group my-2 py-2">
              <label for="website" class="font-weight-bold text-capitalize">website</label>
              <input type="text" name="website" id="website" class="form-control" required>
            </div>
            <!-- Bio -->
            <div class="form-group my-2 py-2">
              <label for="biography" class="font-weight-bold text-capitalize">about you</label>
              <textarea class="form-control" style="overflow-y: scroll; resize: none;" name="biography" id="biography" cols="30" rows="10"></textarea>
            </div>
            <!-- Camera kit -->
            <div class="form-group my-2 py-2">
              <div class="form-group my-2 py-2">
                <div class="row">
                  <div class="col">
                    <label for="cameras" class="font-weight-bold text-capitalize">camera information</label>
                    <input type="text" name="cameras" id="cameras" class="form-control">
                  </div>
                  <div class="col">
                    <label for="lenses" class="font-weight-bold text-capitalize">lens information</label>
                    <input type="text" name="lenses" id="lenses" class="form-control">
                  </div>                  
                </div>
              </div>
            </div>
            <!-- Buttons -->
            <div class="form-group my-2">
              <button type="submit" class="btn btn-success text-uppercase font-weight-bold mr-1">save details</button>
              <button type="reset" class="btn btn-warning text-uppercase font-weight-bold ml-1">rest information</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
  </div>
</div>
<%- include('../partials/footer') %>