<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<div class="container my-3 py-3">
  <div class="row">
    <div class="col-lg-4">
      <h5 class="text-uppercase font-weight-bold">account</h5>
      <ul class="list-group mt-3 mr-3 border-0">
        <div class="list-group-item text-capitalize"><a href="#">personal information</a></div>
        <div class="list-group-item text-capitalize"><a href="/users/<%= user.username %>/profile/complete">complete your profile</a></div>
        <div class="list-group-item text-capitalize"><a href="#">password</a></div>
        <div class="list-group-item text-capitalize"><a href="#">Your images</a></div>
        <div class="list-group-item text-capitalize"><a href="#">Your blogs</a></div>
      </ul>
    </div>
    <div class="col-lg-8">
      <div class="card bg-light p-5">
        <% if(updateSuccess) { %>
          <p class="text-center text-white font-weight-bold bg-success"><%= updateSuccess %></p>
        <% } %>
        <h5 class="text-capitalize font-weight-bold">basic information</h5>
      <div class="row">
        <div class="col-lg-4 my-3"><strong>Avatar</strong>
        <div class="row col">
          <img src="<%= user.avatar %>" height="150" width="150" alt="Avatar for <%= user.username %>" class="my-3 rounded-circle d-block border border-dark">
        </div>
        <div class="row p-3 small"><i>Updated on: <span class="font-weight-bold"><%= user.updatedAt.toLocaleDateString('en-IN', {year: 'numeric', month: 'short', day: 'numeric'})%> at <%= user.updatedAt.toLocaleTimeString('en-IN')%></span></i></div>               
      </div>
      <div class="col-lg-8 my-3">
        <div class="row my-3">
          <div class="col">
            <label for="username" class="font-weight-bold text-capitalize">username</label>
            <input class="form-control" type="text" name="username" id="username" value="<%= user.username %>" disabled>
          </div>
          <div class="col">
            <label for="date-created" class="font-weight-bold text-capitalize">user since</label>
            <input class="form-control disabled" value="<%= user.createdAt.toLocaleDateString('en-IN', {year: 'numeric', month: 'long', day: 'numeric'}) %>" disabled></p>
          </div>
        </div>
        <div class="row my-3">
          <div class="col">
            <label class="font-weight-bold text-capitalize" for="firstname">first name</label>
            <p class="form-control"></p>
          </div>
          <div class="col">
            <label for="lastname" class="font-weight-bold text-capitalize">last name</label>
            <p class="form-control"></p>
          </div>
        </div>
        <div class="row my-3">
          <div class="col">
            <label for="email" class="font-weight-bold text-capitalize">E-mail address</label>
            <p class="form-control"><%= user.email %></p>
          </div>            
        </div>
        <div class="row my-3">
          <div class="col">
            <label class="font-weight-bold text-capitalize">website</label>
            <p class="form-control"><%= user.website || '' %></p>
          </div>
        </div>        
      </div>      
      </div>
      <div class="row p-3 my-3">
        <label class="font-weight-bold text-capitalize">about you</label>
        <p class="form-control"><%= user.biography ? user.biography : '' %></p>
      </div>
      <div class="row p-3 my-3">
        <div class="col">
          <label for="cameras" class="font-weight-bold text-capitalize">cameras</label>
          <input type="text" name="cameras" id="cameras" value="<%= user.cameras ? user.cameras : ''  %>" class="form-control">
        </div>
        <div class="col">
          <label for="lenses" class="font-weight-bold text-capitalize">lenses</label>
          <input type="text" name="lenses" id="lenses" value="<%= user.lenses ? user.lenses : '' %>" class="form-control">
        </div>
      </div>
    </div>
    <!-- Acccount management -->
    <div class="col-lg-12 mt-5">
      <div class="row bg-light card p-5">
        <h5 class="text-capitalize font-weight-bold">account management</h5>
        <div class="div mt-3">
          <h6 class="font-weight-bold text-uppercase">delete your account</h6>
          <p class="font-weight-bold text-danger"><span class="text-uppercase">note</span>:&nbsp; Account deletions cannot be reversed.</p>
          <p>Before deleting your account, please review the following:</p>
          <ul>
            <li>By deleting your account, all of your personal information, including your images and blogs, comments of other's works will be deleted.&nbsp;Your access to this website using your login credentials will be immediately terminated.&nbsp;You will never be able to login to your account again.</li>
            <li>This action is irreversible - once your data has been deleted from our servers, we cannot recover it manually again.</li>
            <li>You hereby acknowledge that deleting an account is an instant process. Once the button below is clicked, you will be logged out of this website and be redirected to the main page.</li>
          </ul>
          <form action="/users/<%= user.username %>/?_method=DELETE" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn btn-danger font-weight-bold text-uppercase" type="submit">delete account</button>
          </form>
        </div>        
      </div>
    </div> 
    </div>   
  </div>
</div>
<%- include('../partials/footer') %>