<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<div class="container my-3 p-3">
  <h1 class="text-center text-capitalize">Edit your blog</h1>
  <form class="card p-5 bg-light my-3" action="/blogs/<%= blog._id%>/?_method=PATCH" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" required>
    <!-- Title -->
    <div class="form-group">
      <label for="title" class="font-weight-bold text-capitalize">title</label>
      <input type="text" name="title" id="title" class="form-control" placeholder="Add a suitable title" value="<%= blog.title %>" required>
    </div>
    <!-- Synopsis/abstract -->
    <div class="form-group my-3">
      <label for="abstract" class="font-weight-bold text-capitalize">abstract</label>
      <textarea 
       name="abstract" style="overflow-y: scroll; resize: none;" id="abstract" cols="30" rows="3" class="form-control" maxlength="60" spellcheck="true" placeholder="Abstract must not be more than 60 characters" required><%=blog.abstract%></textarea>      
    </div>
    <!-- Description -->
    <div class="form-group my-3">
      <label for="description" class="font-weight-bold text-capitalize">description</label>
      <textarea name="description" style="overflow-y: scroll; resize: none;" id="description" cols="30" rows="10" class="form-control" maxlength="3000" spellcheck="true" placeholder="Description must not be more than 3000 characters" required><%= blog.description%></textarea>
    </div>
    <!-- Buttons and CSRF token -->
    <div class="form-group my-3">    
    <button type="submit" class="btn btn-info text-uppercase font-weight-bold p-2 mr-2">save changes</button>
  </div>
  </form>
</div>
<script>
  const currentabscount = document.getElementById('currentabscount');
  const remainingabscount = document.getElementById('remainingabscount');
  const abstract = document.getElementById('abstract');
  const countCharacters = (val) => {
    return 60 - val.length;
  }
  remainingabscount.innerText = countCharacters(val);

</script>
<%- include('../partials/footer') %>  